:root {
  --bulma-scheme-h: 0;
  --bulma-scheme-s: 0%;

  --bulma-primary-h: 242deg;
  --bulma-primary-s: 43%;
  --bulma-primary-l: 87%;

  --bulma-info-h: 242deg;
  --bulma-info-s: 43%;
  --bulma-info-l: 87%;


  --bulma-text-h: 15;
  --bulma-text-s: 6%;

  --bulma-body-h: 47;
  --bulma-body-s: 91%;

  /* --bulma-scheme-main-l: 96%; */

  --bulma-border-l: 30%;

  --bulma-link-h: 4;
  --bulma-link-s: 83%;
  --bulma-link-l: 52%;

  --bulma-link-on-scheme-l: 52%;
  
}

.icon-text{
  display: inline-block;
}

.image img.hereabout-clip { 
  height: 100%; 
  object-fit: cover;
  object-position: 0px 5%;
}

