<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {{>site/templates/meta-data.html}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <meta property="og:title" content="{{title}} | Hereabout Dev Blog"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://hereabout.dev/images/og.webp" />
    <meta property="og:description" content="Read the latest on Hereabout's development." />
</head>
<body>
    {{>site/templates/header.html}}

    <div class="section">
        <div id="page" class="container is-fullheight">
            <h1 class="title">
                {{title}}
            </h1>
            <h2 class="subtitle">
                by {{author}}
            </h2>

            <figure class="image mb-3 is-flex is-justify-content-center">
                <img src="/images/{{image}}" style="width:500px"/>
            </figure>

            <div class="content">
                {{{content}}}
            </div>

            <script src="https://giscus.app/client.js"
                    data-repo="Hereabout/hereabout-dev-blog"
                    data-repo-id="R_kgDONWpozQ"
                    data-category="General"
                    data-category-id="DIC_kwDONWpozc4Ckw8U"
                    data-mapping="title"
                    data-strict="0"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="bottom"
                    data-theme="dark"
                    data-lang="en"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
    </div>
    

{{>site/templates/footer.html}}
